#adapter-body {
    padding: 5px;
    flex: 1;
    position: relative;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

#adapter-structure {
    margin-top: 5px;
}

#adapter-result {
    margin-top: 20px;
    padding: 2px;
    overflow: auto;
    height: 100%;

    table {
        padding-inline: 2rem;
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            border: 1px solid var(--border);
            padding: 8px;
            text-align: left;
            max-width: 100px;
            word-wrap: break-word;
        }

        th {
            background-color: var(--accent);
            color: var(--back);
        }

        pre {
            margin: 0;
            white-space: pre-wrap;
            word-break: break-all;
            max-width: 100%;
        }

        .edit-input {
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            border: 1px solid var(--accent);
            background-color: var(--back);
            color: var(--txt);
        }
    }
}

#toggle-sidebar {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--txt);
    font-size: large;
}

#resize {
    position: absolute;
    top: 35px;
    right: 5px;
    background: none;
    border: none;
    cursor: ew-resize;
    color: var(--txt);
    font-size: large;
    user-select: none;
}