name: Build Front

on:
  push:
    branches:
      - master
    paths:
      - "front/**"
      - "public/**"

  workflow_dispatch:

concurrency:
  group: build-front
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install Dependencies
        run: cd front && bun i

      - name: Build
        run: cd front && bun run build

      - name: Prepare files
        run: |
          mv front/dist public

      - name: Push to dist branch
        run: |
          cd public
          git init
          git config --local user.name "GitHub Actions"
          git config --local user.email "actions@github.com"
          git checkout --orphan front
          git add .
          git commit -m "Build"

          git remote add origin https://x-access-token:${GITHUB_TOKEN}@github.com/wxn0brP/VQL-dev.git 

          git push --force origin front
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
